<div class = "contents">
  <%= form_with model: @tweet, url: tweet_path, method: :patch, local: true do |f| %>
    <div class = "title">
      <%= f.text_area :title, class: "title-field", pliceholder: "title" %>
    </div>
    <div class = "text">
      <%= f.text_area :text, class: "textarea", pliceholder: "text" %>
    </div>
    <div class = "image">
      <%= f.file_field :image, class: "image-field" %>
    </div>
    <%= f.submit "更新", class: "send-btn" %>
  <% end %>
</div>