<div class = 'main'>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <div class = 'mypage'>
      <%= link_to 'マイページ', tweets_path, method: :get %>
    </div>
    <div class = "logout">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </div>
    <h2 class='title'>
      ¥<%= @memory %>
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
      <%= link_to '貯金', new_memory_path, method: :get %>
      </li>
      <li class='list'>
      <%= link_to '目標設定', new_goal_path, method: :get %>
      </li>
      <li class='list'>
      <%= link_to '記録一覧', edit_memory_path(current_user), method: :get %>
      </li>
    </ul>
  </div>

  <div class = "goal-contents">
    <ul class = "goal-lists">
      <% @goals.each do |goal| %>
        <% if user_signed_in? && current_user.id == goal.user_id %>
          <div class = "goal-list">
            <div class = "goal-goods-content">
              <%= goal.goal_goods %>
            </div>
            <div class = "goal-money-content">
              <%= goal.goal_money %>
            </div>
          </div>
          <% if @memory >= goal.goal_money %>
            <%= link_to "目標達成！", goal_path(goal), class: 'goal-btn', method: :get %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>


  <div class='item-contents'>
    <h4 class='title'>みんなの記録</h4>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @tweets.each do |tweet| %>
      <li class='list'>
        <%= link_to tweet_path(tweet.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag tweet.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= tweet.title %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>